.dayTable-cell {
  box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: solid 3px white;
  background: rgba(112, 128, 144, 0.2);
  margin: -3px 0 0 -3px;
  background-color: #eee;
  border-color: #c2c6c9;
  color: #c2c6c9;
  text-align: center;
}

.dayTable-cell > h3 {
  margin: 0;
}
.dayTable-cell--header {
  background-color: slategrey;
  border-color: #5a6673;
  color: white;
}

.dayTable-cell--avail {
  background-color: rgb(0,0,155);
  color: white;
}

.dayTable-cell--avail:hover {
  background-color: rgb(0,0,255);
  transform: scale(1.05);
}