/* Page styling
================================== */
html {
  height: 100%;
  background-color: cornflowerblue;
}
body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding: 2em;
  max-width: 800px;
  font-family: 'Arial', sans-serif;
  font-size: 1.2em;
  background-color: white;
  border-left: solid 3px #DDD;
  border-right: solid 3px #DDD;
}
.dayView-header {

  margin: 0 auto;
  text-align: center;
}
.header {
  display: inline-block;
}
.button-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #007bff transparent transparent;
  display: inline-block;
  margin: 0 5px;
}
.button-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 12px;
  border-color: transparent transparent transparent #007bff;
  display: inline-block;
  margin: 0 5px;
}

/* Table styling
================================== */
.dayTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  position: relative;
  top: 3px;
  left: 3px;
}

.dayTable--3cols > .dayTable-cell {
  width: 33.33%;
}

.dayTable-cell {
  box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: solid 3px white;
  background: rgba(112, 128, 144, 0.2);
  margin: -3px 0 0 -3px;
  background-color: #eee;
  border-color: #c2c6c9;
  color: #c2c6c9;
  text-align: center;
}

.dayTable-cell > h3 {
  margin: 0;
}

.dayTable-cell--header {
  background-color: slategrey;
  border-color: #5a6673;
  color: white;
}

.dayTable-cell--avail {
  background-color: rgb(0,0,155);
  color: white;
}

.dayTable-cell--avail:hover {
  background-color: rgb(0,0,255);
  transform: scale(1.01);
}

/* Responsive
==================================== */
@media all and (max-width: 740px) {
  .dayTable--collapse {
    display: block;
  }
  .dayTable--collapse > .dayTable-cell {
    width: 100% !important;
  }
}
.no-flexbox .dayTable {
  display: block;
}
.no-flexbox .dayTable > .dayTable-cell {
  width: 100%;
}
